# django
__pycache__/
*.sqlite*
media/

# environment variables
.env

# ansible
inventory
playbook.retry

# webpack
node_modules/
bundles/

# coverage
htmlcov/
.coverage
coverage.xml

# docs build
build/

# static root
static_root/

# static build
_build/

# direnv
.envrc

# logs
.log/

# codecov

# flycheck
flycheck_*.py
