.navbar {
    background-color: #e3f2fd;
}

#video-player,
#chat-log {
    height: 50vh;
}

#chat-log-body {
    overflow-y: auto;
    overflow-x: hidden;
}

#message-div {
    max-width: 40vw;
    word-wrap: anywhere;
}

#chat-message-input,
#chat-message-submit {
    border: 0;
    border-top: 1px solid lightgrey;
    border-top-left-radius: 0;
}

.plyr,
.plyr__video-wrapper {
    height: 100% !important;
}

.favicon {
    position: relative;
    display: inline-block;
}

.favicon-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.favicon:hover .favicon-hover {
    display: inline;
}

form#room-name-change {
    display: none;
}

h3#room-name:hover {
    color: gray;
    cursor: pointer;
}
