.navbar {
    background-color: #e3f2fd;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 2px 2px 2px teal;
}

#video-player,
#chat-log {
    height: 50vh;
}

#chat-log-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-message {
    min-width: 120px;
    max-width: 40vw;
    word-wrap: anywhere;
}

#chat-message-input,
#chat-message-submit {
    border: 0;
    border-top: 1px solid lightgrey;
    border-top-left-radius: 0;
}

.plyr,
.plyr__video-wrapper {
    height: 100% !important;
}

.title-icon:hover {
    color: cyan;
}

form#room-name-change {
    display: none;
}

h3#room-name-change-form-show:hover, h3#copy-url:hover {
    color: gray;
    cursor: pointer;
}

form#room-video-change {
    display: none;
}

@media screen and (max-width: 950px) {
    div#search>input {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    div#search>span>button {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

#div_id_name {
    width: 100%;
}

div#video-player, #room-video-change-form-show {
    display: none;
}

#video-spinner {
    margin-top: 23vh;
}
